url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django-appconf = "*"
gevent = "*"
icalendar = "*"
django-auth-ldap = "*"
amqp = "*"
psycopg2 = "*"
django-jsonify = "*"
djangorestframework = "*"
django-redis = "*"
gunicorn = "*"
pytz = "*"
django-smtp-ssl = "*"
httplib2 = "*"
twilio = "*"
python-dateutil = "*"
argparse = "*"
wsgiref = "*"
django-filter = "*"
django-celery = "*"
requests = "*"
anyjson = "*"
pyasn1 = "*"
psycogreen = "*"
dj-database-url = "*"
ndg-httpsclient = "*"
pyjwt = "*"
django-compressor = "<1.6"
markdown = "*"
pyopenssl = "*"
django-polymorphic = ">=0.7.2,<0.8"
cabot-alert-email = "*"
cabot-alert-hipchat = "*"
cabot-alert-twilio = "*"
django = ">=1.8,<1.9"
celery = ">=3,<4"
coverage = "*"
mock = "*"

[requires]
python_version = "2.7"
